@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #181610 0%, #302b21 50%, #181610 100%);
  --secondary-background: #15140f;
  --gameCard-bg-color: #FEF3BC;
  --foreground: #FFFFFFCC;
  --secondary-foreground: #DAB785;
  --primary-hover-foreground: #fef3bc;
  --primary-border-color: #FFFFFF;
  --secondary-border-color: #FFFFFF4D;
  --primary-button-color: #e58f28;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #181610 0%, #302b21 50%, #181610 100%);
    --secondary-background: #15140f;
    --gameCard-bg-color: #FEF3BC;
    --foreground: #FFFFFFCC;
    --secondary-foreground: #DAB785;
    --primary-hover-foreground: #fef3bc;
    --primary-border-color: #FFFFFF;
    --secondary-border-color: #FFFFFF4D;
    --primary-button-color: #e58f28;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.font-press2p {
  font-family: var(--font-press-start-2p);
}

.font-wallpoet {
  font-family: var(--font-wallpoet);
}

.font-prostoOne {
  font-family: var(--font-prosto-one);
}

.font-aoboshiOne {
  font-family: var(--font-aoboshi-one);
}

/* hiding the scrollbar starts */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

/* hiding the scrollbar ends */