@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #181610 0%, #302b21 50%, #181610 100%);
  --foreground: #FFFFFFCC;
  --secondary-foreground: #DAB785;
  --primary-hover-foreground: #fef3bc;
  --primary-border-color: #FFFFFF;
  --secondary-border-color: #FFFFFF4D;
  --primary-button-color: #e58f28;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #181610 0%, #302b21 50%, #181610 100%);
    --foreground: #FFFFFFCC;
    --secondary-foreground: #DAB785;
    --primary-hover-foreground: #fef3bc;
    --primary-border-color: #FFFFFF;
    --secondary-border-color: #FFFFFF4D;
    --primary-button-color: #e58f28;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.font-press2p {
  font-family: var(--font-press-start-2p);
}

.font-wallpoet {
  font-family: var(--font-wallpoet);
}

.font-prostoOne {
  font-family: var(--font-prosto-one);
}